
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-container>button {
    margin-top: 2px;
    margin-right: 2px;
    background-color: black;
    color: white;
    border: none;
    transform: scale(1.1);
}
.text-input{
    background-color: black;
    border-top-right-radius: 5px;
    border: 1px solid rgb(110, 110, 110);
    color: white;
}
