.main-container{
    background-color:white;
    border:2px solid grey;
    width: 300px;
    height: 200px;
}
.main-container>button{
    background-color:rgb(231, 73, 73);
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 0 6px 0 6px;
    margin-top: 5px;
    margin-right: -250px;
}
.temp-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}
.temp-container>h5{
    margin-top: 10px;
}
.temp-container>img{
    padding: 0;
    margin-top:-20px;
    margin-right: -10px;
}